.dropzone {
    color: white;
    background-color: gray;
    display: block;
    width: 350px;
    height: 200px;
    padding: 1em;
    margin: 0.5em;
}

#draggable {
    cursor: grab;
    color: white;
    font-weight: bold;
    background-color: black;
    width: 300px;
    padding: 0.5em;
}

#draggable:focus, #draggable:hover {
    border: 3px solid red;
}

[aria-dropeffect=move] {
    border: 5px solid black;
}

.drophover {
    border: 5px solid red !important;
}

.dropzone span {
    font-weight: bold;
}

.sronly, #alert-area, .indicator-anchor {
    position: absolute;
    left: -999em;
}
